.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  background-color: lightblue;
  padding: 20px;
  gap: 20px;
}

.box {
  background-color: red;
  height: 60px;
}
